.card-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    pointer-events: auto;
}

.card-background .card-content-holder,
.card-content-holder-small {
    pointer-events: none;
    position: relative;
    height: 33vh;
}

.card-background .card-content-holder {
    transition: all .5s;
    opacity: 0;
}

.card-background:hover .card-content-holder {
    opacity: 1;
}