.detailBtn{
    text-decoration: none;
    color: var(--white);
    transition: all ease-in-out .25s;
    cursor: pointer;
}

.detailBtn:hover {
    color: var(--yellow);
}

.projectHolder{
    position: relative;
    width: 100vw;
    height: 50vh;
}

.thumbnail{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}