:root {
    --black: black;
    --white: white;
    --yellow: #fce205;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white);
}

.modal-backdrop {
    opacity: 0.6 !important;
}

.content-wrapper {
    position: relative;
    top: 100vh;
    min-height: 100vh;
    background-color: var(--black);
}

.content-wrapper-first {
    -webkit-box-shadow: 0px 5px 25px 5px rgba(252, 226, 5, 1);
    -moz-box-shadow: 0px 5px 25px 5px rgba(252, 226, 5, 1);
    box-shadow: 0px 5px 25px 5px rgba(252, 226, 5, 1);
}

.btn-bigger {
    font-size: 2rem;
}

.modal-video-wrapper {
    background-color: transparent;
    border: none;
    color: var(--white);
}

a,
i {
    text-decoration: none;
    color: var(--white);
    transition: all ease-in-out .25s;
}

a:hover {
    color: var(--yellow);
}

a:hover i {
    color: var(--yellow);
}