.reel-card .card-background .card-content-holder,
.card-content-holder-small {
    pointer-events: none;
    position: relative;
    height: 100vh;
}

.text-reel-content-holder{
    position: relative;
    height: 100vh;
}